$opensans-regular: 'OpenSans-Regular';
$opensans-light: 'OpenSans-Light';
$opensans-extrabold: 'OpenSans-ExtraBold';
$opensans-bold: 'OpenSans-Bold';
$opensans-semi-bold: 'OpenSans-SemiBold';
$color-html: #E5E5E5;
$color-blue: linear-gradient(168.05deg, #023B96 5.04%, #022357 91.26%);
$color-input: #6c86b1;
$color-white: #FFF;
$color-light-blue: #0076FF;
$color-black: #0B1023;
$color-sticky: #022357;
$color-sidebar: linear-gradient(141.08deg, #0A69DA 32.24%, #0856C8 115.93%, #0231A5 164.9%);
$color-menu-ative: #0A6ADA;
$color-list: #7c829b;
$color-border-list: #EEF0F4;
$color-location: #475073;
$color-place: #2E3758;
$color-red: #DF142D;
$color-heading: #282E44;
$color-shadow: #202932;
$color-holidays: #C1D4DA;
$color-add: linear-gradient(267.11deg, #FF7B71 9.04%, #FF4A3C 93.1%);
$color-yellow: #FFC54D;
$color-booknow: #FF9189;


